.bottom-sheet-modal {
    position: fixed;
    bottom: -100%; /* 처음에는 화면 아래에 숨김 */
    left: 0;
    right: 0;
    background-color: transparent;
    border-radius: 15px 15px 0 0;
    transition: bottom 0.3s ease-in-out; /* 스르륵 올라오도록 애니메이션 */
    z-index: 1000; /* 지도보다 위에 있도록 z-index 추가 */
}

.bottom-sheet-modal.open {
    bottom: 0; /* 모달이 열리면 화면에 나타남 */
    width: 100%;
    height: 30%;
    border: none;
    box-shadow: none;
}

.modal-content {
    text-align: center;
    padding: 0px;
}

.ModalButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
