.EditMyProfile {
    background-color: white;
    max-width: 478px;
    min-height: 100vh;
    margin: 0 auto;
}

/* EditMyProfile.css */

/* 프로필 영역 스타일 */
.EditMyProfile .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* 프로필 사진 스타일 */
.EditMyProfile .profile img {
    border-radius: 50%;
    width: 100px; /* 적당한 크기로 조정 */
    height: 100px; /* 적당한 크기로 조정 */
    object-fit: cover;
    margin-bottom: 10px; /* 사진과 텍스트 간의 간격 조정 */
}

/* 프로필 텍스트 스타일 */
.EditMyProfile .profile .userName {
    font-size: 20px; /* 적당한 크기로 조정 */
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.EditMyProfile .profile .userEmail {
    font-size: 16px; /* 적당한 크기로 조정 */
    color: #666;
}


.bar {
    width: 100%;
    margin: 10px 0;
}

.edit-container {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nicknameEdit, .imgEdit {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nicknameEdit strong, .imgEdit strong {
    margin-bottom: 10px;
}

.input-container, .img-container {
    width: 100%;
    max-width: 400px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--Gray, #D9D9D9);
    display: flex;
    align-items: center;
}

.Input {
    width: 70%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}
