.MapSearch {
    width: 100%;
    display: flex; /* 중앙 정렬을 위한 flex 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    position: absolute; /* 지도 위에 겹쳐지도록 설정 */
    top: 20px; /* 화면 상단에서 20px 아래에 위치 */
    z-index: 10; /* 지도의 위에 표시되도록 z-index 설정 */
}

.SearchBox {
    width: 90%;
    max-width: 500px; /* 최대 너비 설정 */
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White, #FFF);
    border: none;
    display: flex; /* 아이콘과 텍스트 중앙 정렬을 위한 flex 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between;
    cursor: pointer; /* 클릭 가능한 커서 표시 */
    margin-top: 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchIcon{
    width: 24px; /* 아이콘 크기 */
    height: 24px; /* 아이콘 크기 */
    margin-left: auto; /* 아이콘을 오른쪽으로 배치 */
    margin-right: 10px; /* 아이콘과 텍스트 사이 여백 */
}
