.Bottom {
    position: fixed; /* absolute에서 fixed로 변경하여 화면 하단에 고정 */
    bottom: 0;
    width: 100%; /* 너비를 100%로 설정하여 화면 전체 너비 차지 */
    z-index: 10;
    background-color: var(--White, #FFF); /* 배경색 설정 */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.gps {
    border: none;
    background-color: transparent;
    position: absolute; /* 지도의 위에 위치시키기 */
    top: -90px; /* 네비게이션 바 위에 오도록 조정 */
    left: calc(100% - 90px); 
    /* 버튼이 중앙에 위치하도록 조정 */
    z-index: 11; /* 네비게이션 바 위에 보이도록 z-index 설정 */
}

.Navbar {
    width: 100%; /* 네비게이션 바의 너비를 100%로 설정하여 화면 전체를 차지 */
    max-width: 478px; /* 최대 너비 제한 설정 */
    height: 80px; /* 높이를 적절히 줄여서 화면 차지 공간 감소 */
    flex-shrink: 0;
    background: var(--White, #FFF);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0; /* 위아래 패딩 유지 */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.bookmarkNav, .selectHome, .mypage {
    padding: 0px;
    border: none;
    background-color: #FFF;
    text-decoration: none; /* 링크 밑줄 제거 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--Black, #000);
    flex-shrink: 0;
    font-size: 14px; /* 폰트 크기를 약간 줄여 공간 확보 */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bookmarkNav img, .selectHome img, .mypage img {
    width: 24px; /* 아이콘 크기를 약간 줄여 공간 확보 */
    height: 24px; /* 아이콘 크기를 약간 줄여 공간 확보 */
    margin-bottom: 3px; /* 아이콘과 텍스트 간의 간격 줄임 */
}

.bookmarkNav, .selectHome, .mypage {
    width: 80px; /* 너비 유지 */
}